* {
    margin: 0;
    padding: 0;
}

:root{
    --dk-font-color : #1698AC;
    --lt-font-color : white;
}

body{
    font-family: Laila;
    background-image: url(../imgs/Прототип.png);
    padding: 30px;
}

.header{
    justify-content: space-between;
}

.fl{
    display: flex;
    align-items: center;
}

@font-face {
    font-family: Laila;
    src: url(../font/Laila/Laila-Bold.ttf);
}

@media(max-width: 768px){
    .nav-link{
        font-size: 5px;
    }
    .header{
        flex-direction: column;
    }
    .nav-box{
        display: none;
    }
}
@media(min-width: 1400px) and (max-width: 1024px){
    .nav-link{
        font-size: 15px;
    }
}
@media(min-width: 1024px) and (max-width: 1400px){
    .nav-link{
        font-size: 25px;
    }
}
@media(min-width: 1400px){
    .nav-link{
        font-size: 35px;
    }
}


.nav-list{
    list-style: none;
    gap: 15px;
}

.logo-text,
.nav-link {
    color: var(--lt-font-color);
    text-decoration: none;
}

.logo-text{
    font-weight: 600;
    font-size: 40px;
    position: relative;
    left: -40px;
}

.nav-item{
    border: 1px solid var(--dk-font-color);
    border-radius: 20px;
    flex: 1;
    padding: 2px 28px;
    text-align: center;
}

.logo-img{
    width: 157px;
}

.logo-box,
.nav-box{
    flex: 1;
}

.nav-item:hover{
    background-color: var(--dk-font-color);
    border: 2px solid var(--lt-font-color);
}

.main-img-box{
    flex: 1;
    text-align: right;
}
.main-img{
    border-radius: 20px;
}

.col{
    flex: 1;
}
.auth-name,
.auth-about,
.auth-descrip{
    font-weight: 600;
}

.auth-name{
    font-size: 70px;
    color: var(--dk-font-color);
    -webkit-text-stroke: white 0.25px;
}
.auth-about{
    font-size: 65px;
    color: var(--lt-font-color);
    margin-bottom: 30px;
}
.auth-banner{
    width: 100%;
    border-radius: 20px;
}
.auth-descrip{
    font-size: 35px;
    color: var(--lt-font-color);
    margin-bottom: 30px;
    
}
.auth-link{
    font-weight: 300;
    font-size: 30px;
    padding: 15px 50px;
    color: var(--lt-font-color);
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.1s linear;
    box-sizing: content-box;
}
.auth-link:hover{
    font-weight: 300;
    background-color: var(--dk-font-color);
    border: 1px solid var(--lt-font-color);
}